<?php

// API connect settings - url, username, password, interface id
$api_url = '';
$api_usr = '';
$api_pwd = '';
$api_interface_id = hexdec('');

// API request settings - fields variables in SimBASE
$token_req_field = "o_validator_token";
$search_field = "o_validator_data";

// WEB settings, page title, session timeout in seconds
$title = "Simourg document validator";
$timeout = 180;

// Do not change this
$currentYear = date('Y');
$currentTimestamp = time();
$currentYearSummerTimestampStart = mktime(0,0,0,25,3,$currentYear);  // Summer time start
$currentYearSummerTimestampEnd   = mktime(0,0,0,28,10,$currentYear); // Summer time end
   
// Summer/Winter time
if ( $currentYearSummerTimestampStart <= $currentTimestamp && $currentTimestamp <= $currentYearSummerTimestampEnd ) {
	// Summer
	$timestamp = time() + 3 * 3600;
} else {
	// Winter
	$timestamp = time() + 2 * 3600;
}
		
// Defining message counter ID 
$timestamp_string = strval($timestamp); // convert to string
$msg_id = substr($timestamp_string, - 10); // take last 10 figures and convert to integer


// SimBASE API authentication data encoded in BASE64 
$authdata = base64_encode('<authdata msg_id="'.$msg_id.'" user="'.$api_usr.'" password="'.$api_pwd.'" msg_type="3020" user_ip="'.$_SERVER['REMOTE_ADDR'].'"/>');


	$config_array = array(
	
		'API_URL' => $api_url,
		'API_USR' => $api_usr,
		'API_PWD' => $api_pwd,
		'API_INTERFACE_ID' => $api_interface_id,
		'MSG_ID' => $msg_id,
		'AUTHDATA' => $authdata,
		'TOKEN_REQUEST_FIELD' => $token_req_field,
		'SEARCH_FIELD' => $search_field,
		'TITLE' => $title,
		'TIMEOUT' => $timeout
	);
	
return $config_array;