* {
  font-family: Arial, sans-serif;
}

html, body {
  height:100%;
  width:100%;
  padding:0;
  margin:0;
}

html {
  overflow-y: none;
}

body {
  display: flex;
  justify-content: center;
  background: #9a9a9a;
}

.container {
  display:flex;
  flex-direction:column;
  width: 100%;
  max-width:600px;
  min-width: 400px;
  background: rgb(230,230,230);
  overflow: auto;
}



.title {
  background: #0080ff;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.title h1 {
  font-size: 20px;
  font-weight: 10;
  font-style: normal;
  color: white;
}

@media screen and (min-width: 600px) {
  .title h1 {
      font-size: 30px;
  }
}

.logo {
  height: 180px;
  background-color: white;
  -webkit-box-shadow: 0 5px 5px -3px rgba(0,0,0,0.45);
  -moz-box-shadow: 0 5px 5px -3px rgba(0,0,0,0.45);
  box-shadow: 0 5px 5px -3px rgba(0,0,0,0.45);
  display:flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 125px;
}

.top-del {
  flex: 1 1 auto;
}

main {
  display:flex;
  justify-content: center;
  flex: 1 1 45%;
  padding-left: 13px;
  padding-right: 13px;
}

.captcha {
  margin-top: 3%;
  display: flex;
  flex-direction:column;
  margin-bottom: 80px;
}

.captcha .label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 550;
  color: #9a9a9a;
  margin: 2px;
}

.captcha .label p {
  margin-top: 2px;
  margin-bottom: 4px;
}

#captcha .refreshIcon {
  color: yellow;
}

#captcha canvas {
  border-radius: 10px 10px 0px 0px;
}

#captcha .sliderContainer {
  border-radius: 0px 0px 10px 10px;
}

#captcha .sliderbg {
  border-radius: 0px 0px 10px 10px;
}

#captcha .slider {
  border-radius: 0px 0px 0px 10px;
}

footer {
  height: 30px;
}

.footer-block {
  background-color: white;
  -webkit-box-shadow: 0 -5px 5px -3px rgba(0,0,0,0.45);
  -moz-box-shadow: 0 -5px 5px -3px rgba(0,0,0,0.45);
  box-shadow: 0 -5px 5px -3px rgba(0,0,0,0.45);
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
  
.footer-block .link {
  font-size: 12px;
  color: grey;
  text-decoration: none;
  display:flex;
  justify-content: center;
}

.footer-block .link .text {
  margin-top: 5px;
}

.footer-block .link .text .part {
  margin-left: 1px;
  margin-right: 1px;
}
  
.footer-block .link .text img {
  width:80px;
}
