/* GLOBAL, ALL */

html {
    overflow-y: scroll;
}

* {
	font-family: Calibri, Arial, sans-serif;
}

body {
	height:100%;
	margin:0;
	background: #9a9a9a;
}

div.container {
	display:flex;
	flex-direction:column;
	height:100vh;
	min-height:100vh;
	max-width:600px;
    background: rgb(230,230,230);
}

/* HEADER */
header {
	min-height:80px;
	max-height:80px;
	width:100%;
	flex: 0 1 auto;
	position:fixed;
	top:0;
	left:0;
}

	header section.header {
		background: #0080ff;
		max-width:600px;
		margin:auto;
		padding:5px;
		padding-left:0px;
		padding-right:0px;
	}
	
		header section.header h1 {
			font-size: 20px;
			font-weight: 10;
			font-style: normal;
			color: white;
			line-height:50px;
			margin:10px;
		}
			@media screen and (min-width: 600px) {
			header section.header h1 {
				margin:10px;
				font-size: 30px;
				font-weight: 10;
				font-style: normal;
				color: white;
				line-height:50px;
			}
		}

/*Кнопка возврата в хэдере*/
header section.header div.back-btn {
	position:fixed;
	margin-left: 15px;
	margin-top:15px;
	line-height: 50px;
	float: left;
}
	header section.header div.back-btn button {	
		background-color: Transparent;
		background-repeat:no-repeat;
		border: none;
		cursor:pointer;
		overflow: hidden;
		outline:none;
	}
	
	header section.header div.back-btn img {
		width: 20px;	
	}	
	
	
/*Статус документа*/

nav section.nav {
	position:fixed;
	margin-top:80px;
	background-color: white;
	-webkit-box-shadow: 0 5px 5px -3px rgba(0,0,0,0.45);
	-moz-box-shadow: 0 5px 5px -3px rgba(0,0,0,0.45);
	box-shadow: 0 5px 5px -3px rgba(0,0,0,0.45);
	width:100%;
	max-width:600px;

}

nav section.nav table {
	margin-top:20px;
}

nav section.nav table tr td.img {
	width:70px;
	min-width:70px;
	max-width:70px;
	text-align: right;
}
nav section.nav table tr td.txt {
	width:120px;
	min-width:120px;
	max-width:120px;
	text-align: left;
}

	nav section.nav table.status-language tr.status td img {
		width: 50px;
		margin-right: 10px;
	}
	nav section.nav table.status-language tr.status td p.doc {
		font-size: 16px;
		font-weight: 550;
		color: #515151;
		margin:0;
		padding:0;
	}
	
	nav section.nav table.status-language tr.status td p.status {
		font-size: 15px;
		color: #515151;
		margin:0;
		padding:0;
	}
	
	
nav section.nav div.language {
	margin-top:20px;
	margin-bottom:23px;
}
nav section.nav div.language ul li{
	list-style: none;
	display:inline;
}

nav section.nav div.language ul {
	padding-left: 10px;
	padding-right: 10px;
}

	nav section.nav div.language ul li button {
		display:block-inline;
		border-radius: 50%;
		width:40px;
		height:40px;
		background-color: rgb(217,217,217);
		cursor: pointer;
		border: none;
		padding:10px;
		outline:none;
		color:white;
		font-size: 14px;
		
		color: white;
		padding: 10px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		margin:5px;

	}
	
	
	nav section.nav div.language ul li button:hover {
		background-color: #9a9a9a;
		-o-transform: scale(1.2, 1.2);
		-ms-transform: scale(1.2, 1.2);
		-moz-transform: scale(1.2, 1.2);
		-webkit-transform: scale(1.2, 1.2);
		transform: scale(1.2, 1.2);
	}
	
	
	nav section.nav div.language ul li button.active {
		background-color: #9a9a9a;
		-o-transform: scale(1.2, 1.2);
		-ms-transform: scale(1.2, 1.2);
		-moz-transform: scale(1.2, 1.2);
		-webkit-transform: scale(1.2, 1.2);
		transform: scale(1.2, 1.2);
	}




/* MAIN, CONTENT, BODY */
main{
	margin-top:285px;
	margin-bottom:30px;
	width:100%;
	flex: 1 1 auto;
    
}
	main section.main{
		max-width:600px;
	}

	
	
	
h5 {
	font-size: 12px;
	font-weight: 550;
	color: #9a9a9a;
	margin: 2px;
}
	
span.paragraph {
	font-size: 14px;
	font-weight: bold;
	color: #396ea3;
	margin-bottom: 6px;
    margin-top: 2px;
	white-space:pre-wrap;
    line-height: 1;
    display: block;
}

span.numeric {
	margin-left: 10px;
    margin-right: 10px;
    text-align:left;
}

	
	hr {
	width: 60px;
	margin-bottom: 20px;
	background-color: #b1b1b1; 
    border: 0 none;
    color: #b7b7b7;
    height: 1px;
	margin-top:10px;
}


/* FOOTER */
footer {
	flex: 0 1 40px;
	width:100%;
	position:fixed;
	bottom:0;
	left:0;
	padding: 0 0 0px !important;
}
	footer section.footer-block {
		max-width:600px;
		background-color: white;
		-webkit-box-shadow: 0 -5px 5px -3px rgba(0,0,0,0.45);
		-moz-box-shadow: 0 -5px 5px -3px rgba(0,0,0,0.45);
		box-shadow: 0 -5px 5px -3px rgba(0,0,0,0.45);
		margin:auto;
		padding:5px;
		padding-left:0px;
		padding-right:0px;
	}
	
	footer section.footer-block a {
		display:inline;
		font-size: 12px;
		color: grey;
		text-decoration: none;
	}
	
	footer section.footer-block a p {
		margin:0;
	}
	
	footer section.footer-block a p img {
		width:80px;
	}
	
	@media screen and (max-height: 500px) {
		footer {
	
			position: static;
			
		}
	}
	